.movido{
	color: #ffcc00 !important; 
	background: #000 !important;
}

.parado{
	color: #000 !important; 
	background: #ffcc00 !important;
}

.movido i{
	color: #ffcc00 !important;
}

.parado i{
	color: #000 !important;
}

.borda-erro{
	border: 1px solid green;
	font-weight: bold !important;
}