/*


Template: Sofbox - Responsive Software Landing Page
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!


*/
#baixar{
    padding: 10px;
    border: 1px solid #ffcc00;
    color: #000
}

#baixar:hover{
    padding: 10px;
    border: 1px solid #000;
    color: #ffcc00;
    background: #000; 
}