﻿/*
Template Name: Salimo - One Page Parallax
Author: Celtano
Author URI: http://themeforest.net/user/celtano
Description: Salimo - One Page Parallax
Version: 1.0
*/
/*------------------------------------------------------------------
[Table of contents]
    + General
        - Boxed Body
        - Dark Body
        + Body Separators
            - Skew
            - Reversed Skew
            - Double Diagonal
            - Big Triangle
        - Heading
        - Paragraph
        - Divider
    + Header
        - Logo
        - Dark Header
        - Navigation Menu
    + Content
        - Custom Button
        - Preloader
        - Main Slider (Revolution Slider)
        + Sections
            - About
            - Project Manager
            - Services
            - Testimonials
            + Portfolio
                - Filter Controls
                - Zoom Icons
            - Team
            - Facts
            - Newsletter
            - Blog
            - Video Promotion
            - Contact
            - Contact Form
            - Logos Slider
        - Social Media
        - Back To Top
        - Horizontal Rows
        - Inputs
    - Footer
    + Responsive Design Styles
        - Large Devices
        - Small Devices
        - Extra Small Devices
-------------------------------------------------------------------*/
/* [ GENERAL ] */
/*================================================== */
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/sqr721n.eot?5510888');
  src: url('../fonts/sqr721n.eot?5510888#iefix') format('embedded-opentype'),
       url('../fonts/sqr721n.woff?5510888') format('woff'),
       url('../fonts/sqr721n.ttf?5510888') format('truetype'),
       url('../fonts/sqr721n.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font: 14px/22px "Raleway", Arial, Helvetica, sans-serif;
    color: #6e6e6e;
    background-color: #000;
    padding: 0 !important;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
.wrapper {
    overflow: hidden;
    background-color: #fff;
}
.section-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 90px 0;
}
.about .container,
.services .container,
.team .container,
.blog .container,
.contact .container {
    padding: 70px 15px !important;
}
.about .container,
.team .container {
    padding: 70px 15px 100px !important;
}
.portfolio .container {
    padding: 70px 0 !important;
}
/* Boxed Body */

body.boxed header {
    max-width: 1220px;
}
body.boxed .wrapper {
    max-width: 1220px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 3px 8px 7px #ccc;
}
body.boxed {
    background: url(../img/backgrounds/az_subtle.png);
    background-attachment: fixed;
}
/* Dark Body */

body.dark {
    color: #ccc;
}
body.dark p,
body.dark h1,
body.dark h2,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark .portfolio .caption h3,
body.dark .nav-menu ul.nav-menu-inner li a,
body.dark .portfolio .nav-pills li,
body.dark .blog .blog-content .blog-excerpt span.date,
body.dark.blog-page .blog-content span.date,
body.dark.blog-post .blog-content .comments span.author,
body.dark.blog-page .sidebar h3 {
    color: #eee;
}
body.dark.blog-page .footer,
body.dark.blog-page.reversed-skew .footer {
    background: #222;
}
body.dark.blog-page .blog-content .meta span.date,
body.dark.blog-page .blog-content .meta span {
    color: #999;
}
body.dark.blog-post .add-comment .form-holder form input:focus,
body.dark.blog-post .add-comment .form-holder form textarea:focus {
    background-color: #222;
}
body.dark.blog-post .blog-content figure img {
    border: 0;
}
body.dark.blog-post .post-author {
    background: #333;
    border: 1px solid #444;
}
body.dark.blog-post .blog-content .comment .comment-body {
    background: #444;
    border: 1px solid #555;
}
body.dark.blog-post .post-author img,
body.dark.blog-post .blog-content .comment-author img {
    border: 1px solid #666;
}
body.dark .add-comment .form-holder form input,
body.dark .add-comment .form-holder form textarea {
    background: transparent;
    border: 1px solid #999;
}
body.dark.blog-page .sidebar .widget.recent-posts figure {
    border: 1px solid #222;
}
body.dark.blog-page ul.pagination li a {
    background: transparent;
    color: #eee;
    border: 1px solid #777;
}
body.dark.blog-page ul.pagination li a:hover {
    background: #222;
}
body.dark.blog-page .meta {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}
body.dark.blog-page .sidebar .widget.recent-posts ul li a,
body.dark.blog-page .sidebar .widget ul li a {
    color: #fff;
}
body.dark.boxed .wrapper,
body.dark .wrapper {
    background-color: #111;
}
body.dark .header.header-fixed {
    background-color: #111;
    border-bottom: 1px solid #222;
}
body.dark .header.header-fixed #icon-toggler span {
    background-color: #fff;
}
body.dark .about,
body.dark .services,
body.dark .portfolio,
body.dark .team,
body.dark .blog,
body.dark .contact {
    background-color: #111;
}
body.dark .nav-menu ul.nav-menu-inner li a,
body.dark .header-fixed .nav-menu ul.nav-menu-inner li a {
    22 */
}
body.dark .about .about-content .title-about {
    color: #fff;
}
body.dark hr.custom:before {
    color: #eee;
    background: #111;
}

body.dark .services-box-item-cover, 
body.dark .services-box-item-cover2,
body.dark .services-box-item-content {
    background: #000;
    box-shadow: none;
}
body.dark .portfolio .thumbnail__portfolio {
    border: 1px solid #333;
}
body.dark .caption p,
body.dark .services-box-item-content p,
body.dark .info-map-boxes-item p {
    color: #ccc;
}
body.dark .blog .blog-content .blog-figure a {
    border: none;
}
body.dark .blog .blog-content h3 {
    color: #fff;
}
body.dark .blog .blog-content h3:hover {
    color: #eee;
}
body.dark .team-member {
    box-shadow: none;
}
body.dark .team-member-caption {
    background-color: #000;
}
body.dark .info-map-boxes-item {
    background-color: #000;
    box-shadow: none;
    height: 150px;
}
body.dark .info-map-boxes-item:before {
    background-color: #000;
}
body.dark .gmap_container {
    color: #6e6e6e;
}
body.dark .logos {
    background-color: #000;
}
body.dark.reversed-skew .logos {
    margin-top: -50px;
    padding-top: 27px;
    margin-bottom: -82px;
    padding-bottom: 62px;
}
body.dark.skew .logos {
    margin-top: -50px;
    padding-top: 50px;
    margin-bottom: -82px;
    padding-bottom: 80px;
}
body.dark.reversed-skew .footer {
    background-color: #000;
}
body.dark.skew .contactform,
body.dark.reversed-skew .contact,
body.dark.reversed-skew .contactform {
    border-top: 60px solid #111;
}
body.dark.big-triangle .projectmanager:after,
body.dark.big-triangle .projectmanager:before,
body.dark.big-triangle .mainslider:after,
body.dark.big-triangle .mainslider:before,
body.dark.big-triangle .testimonials:after,
body.dark.big-triangle .testimonials:before,
body.dark.big-triangle .newsletter:after,
body.dark.big-triangle .newsletter:before,
body.dark.big-triangle .facts:after,
body.dark.big-triangle .facts:before,
body.dark.big-triangle .videopromotion:after,
body.dark.big-triangle .videopromotion:before,
body.dark.big-triangle .contactform:after,
body.dark.big-triangle .contactform:before {
    border-bottom: 100px solid #111;
}
body.dark.big-triangle .projectmanager:after,
body.dark.big-triangle .projectmanager:before,
body.dark.big-triangle .testimonials:after,
body.dark.big-triangle .testimonials:before,
body.dark.big-triangle .newsletter:after,
body.dark.big-triangle .newsletter:before,
body.dark.big-triangle .facts:after,
body.dark.big-triangle .facts:before,
body.dark.big-triangle .videopromotion:after,
body.dark.big-triangle .videopromotion:before,
body.dark.big-triangle .contactform:after,
body.dark.big-triangle .contactform:before {
    border-top: 100px solid #111;
}
body.dark.big-triangle .footer:after,
body.dark.big-triangle .footer:before {
    border-top: 100px solid #222;
}
body.dark.big-triangle .contactform:after,
body.dark.big-triangle .contactform:before {
    border-bottom: 100px solid #222;
}
body.dark.big-triangle.blog-page .footer {
    background-color: #222;
}
body.dark.big-triangle.blog-page .footer:after,
body.dark.big-triangle.blog-page .footer:before {
    border-top: 100px solid #111;
}
body.dark.big-triangle.blog-page .banner:before,
body.dark.big-triangle.blog-page .banner:after {
    border-bottom: 100px solid #111;
    bottom: 0;
}
body.dark .logos ul.bxslider img {
    opacity: 1;
    -webkit-filter: saturate(5);
    filter: saturate(5);
}
/* Body Separators
================================================== */
/* Skew */

body.skew .about,
body.skew .projectmanager,
body.skew .services,
body.skew .testimonials,
body.skew .team,
body.skew .blog,
body.skew .facts,
body.skew .newsletter,
body.skew .contactform,
body.skew .videopromotion {
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}
body.skew .about .container,
body.skew .projectmanager .container,
body.skew .services .container,
body.skew .testimonials .container,
body.skew .team .container,
body.skew .blog .container,
body.skew .facts .container,
body.skew .newsletter .container,
body.skew .contactform .container,
body.skew .videopromotion .container {
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
body.skew .about {
    margin-top: -55px;
}
body.skew .portfolio,
body.skew .contact {
    margin-top: -20px;
    padding-top: 32px;
}
body.skew .contact {
    margin-bottom: 100px;
}
body.skew .contactform {
    margin-top: -150px;
    border-top: 60px solid #efefef;
}
body.skew.blog-page .blog {
    margin-top: -50px;
}
body.skew .about .container {
    padding: 70px 0 150px;
}
body.skew .services .container {
    padding: 70px 0 90px;
}
body.skew .portfolio .container {
    padding: 70px 0 100px;
}
body.skew .team .container {
    padding: 70px 0 120px;
}
body.skew .blog .container {
    padding: 90px 0 120px;
}
body.skew .bx-wrapper {
    margin: 90px 0 60px;
}
body.skew .footer {
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    margin-top: 30px;
    margin-bottom: -50px;
    padding-bottom: 90px;
    border: none;
}
body.skew .footer .container {
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 20px 0 0;
}
/* Reversed Skew */

body.reversed-skew .about {
    margin-top: -55px;
}
body.reversed-skew .about .container {
    padding: 70px 0 100px;
}
body.reversed-skew .services .container {
    padding: 70px 0 90px;
}
body.reversed-skew .portfolio .container {
    padding: 70px 0 100px;
}
body.reversed-skew .team .container {
    padding: 70px 0 120px;
}
body.reversed-skew .blog .container {
    padding: 70px 0 120px;
}
body.reversed-skew .about .container,
body.reversed-skew .projectmanager,
body.reversed-skew .facts,
body.reversed-skew .videopromotion,
body.reversed-skew.blog-page .blog {
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
body.reversed-skew .testimonials,
body.reversed-skew .newsletter,
body.reversed-skew .contactform,
body.reversed-skew .about {
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}
body.reversed-skew .testimonials .container,
body.reversed-skew .newsletter .container,
body.reversed-skew .contactform .container {
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
}
body.reversed-skew .services,
body.reversed-skew .team {
    padding-bottom: 100px;
    margin-top: -50px;
    border-top: 60px solid #efefef;
}
body.reversed-skew .blog {
    padding-bottom: 100px;
    margin-top: -100px;
}
body.dark.reversed-skew .services,
body.dark.reversed-skew .team {
    border-top: 60px solid #111;
}
body.reversed-skew .testimonials,
body.reversed-skew .newsletter,
body.reversed-skew .videopromotion {
    margin-top: -100px;
    margin-bottom: 100px;
}
body.reversed-skew .portfolio {
    margin-top: -100px;
}
body.reversed-skew .contact {
    margin-top: -150px;
    border-top: 60px solid #efefef;
    margin-bottom: 100px;
}
body.reversed-skew .contactform {
    margin-top: -150px;
    border-top: 60px solid #efefef;
}
body.reversed-skew .contact .container {
    padding: 70px 0 70px;
}
body.reversed-skew .bx-wrapper {
    margin: 90px 0 50px;
}
body.reversed-skew .footer {
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
    margin-top: 80px;
    margin-bottom: -50px;
    padding-bottom: 90px;
    border: none;
}
body.reversed-skew .footer .container {
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 20px 0 0;
}
body.reversed-skew .projectmanager .container,
body.reversed-skew .facts .container,
body.reversed-skew .videopromotion .container,
body.reversed-skew.blog-page .blog .container {
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/* Double diagonal */

body.double-diagonal .services,
body.double-diagonal .team,
body.double-diagonal .blog,
body.double-diagonal .contact {
    padding-bottom: 50px;
}
body.double-diagonal .testimonials,
body.double-diagonal .newsletter {
    margin-top: -50px;
}
body.double-diagonal .contact {
    margin-bottom: -193px;
}
body.double-diagonal .projectmanager,
body.double-diagonal .testimonials,
body.double-diagonal .facts,
body.double-diagonal .videopromotion,
body.double-diagonal .newsletter,
body.double-diagonal .contactform {
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
}
body.double-diagonal .about .container,
body.double-diagonal .services .container,
body.double-diagonal .portfolio .container,
body.double-diagonal .team .container {
    padding: 70px 0 120px;
}
body.double-diagonal .blog .container {
    padding: 70px 0;
}
body.double-diagonal section {
    position: relative;
    z-index: 1;
}
body.double-diagonal .logos {
    padding:1px 0;
}
body.double-diagonal section::before,
body.double-diagonal section::after {
    position: absolute;
    content: "";
    pointer-events: none;
    /*width: 100%;*/
}
body.double-diagonal .about::before,
body.double-diagonal .about::after,
body.double-diagonal .services::before,
body.double-diagonal .services::after,
body.double-diagonal .portfolio::before,
body.double-diagonal .portfolio::after,
body.double-diagonal .team::before,
body.double-diagonal .team::after,
body.double-diagonal .blog::before,
body.double-diagonal .blog::after,
body.double-diagonal .contact::before,
body.double-diagonal .contact::after,
body.double-diagonal .logos::before,
body.double-diagonal .logos::after {
    top: 0;
    left: -25%; 
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
body.double-diagonal .about::before,
body.double-diagonal .services::before,
body.double-diagonal .portfolio::before,
body.double-diagonal .team::before,
body.double-diagonal .blog::before,
body.double-diagonal .contact::before,
body.double-diagonal .logos::before {
    height: 50%;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
}
body.double-diagonal .projectmanager .container,
body.double-diagonal .testimonials .container,
body.double-diagonal .facts .container,
body.double-diagonal .videopromotion .container,
body.double-diagonal .newsletter .container,
body.double-diagonal .contactform .container {
    -webkit-transform: skewY(3deg);
    transform: skewY(3deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
body.double-diagonal .section-overlay {
    padding: 90px 0 150px;
}
body.double-diagonal .footer {
    padding: 30px 0;
}
body.double-diagonal .bx-wrapper {
    /* margin: 30px 0 50px; */
}
/* Big Triangle */

body.big-triangle .projectmanager,
body.big-triangle .mainslider,
body.big-triangle .testimonials,
body.big-triangle .facts,
body.big-triangle .contactform,
body.big-triangle .newsletter,
body.big-triangle .videopromotion,
body.big-triangle .footer,
body.big-triangle .banner {
    position: relative;
}
body.big-triangle .projectmanager .container,
body.big-triangle .mainslider .container,
body.big-triangle .testimonials .container,
body.big-triangle .facts .container,
body.big-triangle .contactform .container,
body.big-triangle .newsletter .container,
body.big-triangle .videopromotion .container {
    position: relative;
    z-index: 999;
}
body.big-triangle .projectmanager:after,
body.big-triangle .projectmanager:before,
body.big-triangle .mainslider:after,
body.big-triangle .mainslider:before,
body.big-triangle .testimonials:after,
body.big-triangle .testimonials:before,
body.big-triangle .newsletter:after,
body.big-triangle .newsletter:before,
body.big-triangle .facts:after,
body.big-triangle .facts:before,
body.big-triangle .contactform:after,
body.big-triangle .contactform:before,
body.big-triangle .videopromotion:after,
body.big-triangle .videopromotion:before,
body.big-triangle .footer:after,
body.big-triangle .footer:before,
body.big-triangle .banner:after,
body.big-triangle .banner:before {
    content: "";
    position: absolute;
    bottom: -1px;
    top: 0;
    width: 50%;
    z-index: 100;
    border-top: 100px solid #fff;
    border-bottom: 100px solid #fff;
    -webkit-transform: rotate(0.000001deg);
    transform: rotate(0.000001deg);
}
body.big-triangle .mainslider:after,
body.big-triangle .mainslider:before,
body.big-triangle .banner:after,
body.big-triangle .banner:before {
    top: initial;
    border-top: none;
}
body.big-triangle .testimonials:after,
body.big-triangle .testimonials:before,
body.big-triangle .newsletter:after,
body.big-triangle .newsletter:before,
body.big-triangle .contactform:after,
body.big-triangle .contactform:before {
    border-top: 100px solid #efefef;
}
body.big-triangle .team .container {
    padding: 70px 0 100px;
}
body.big-triangle .testimonials .carousel-indicators {
    z-index: 111;
}
body.big-triangle .projectmanager:after,
body.big-triangle .projectmanager:before,
body.big-triangle .facts:after,
body.big-triangle .facts:before,
body.big-triangle .videopromotion:after,
body.big-triangle .videopromotion:before,
body.big-triangle .footer:after,
body.big-triangle .footer:before {
    border-bottom: 100px solid #efefef;
}
body.big-triangle .mainslider:before,
body.big-triangle .projectmanager:before,
body.big-triangle .testimonials:before,
body.big-triangle .newsletter:before,
body.big-triangle .facts:before,
body.big-triangle .contactform:before,
body.big-triangle .videopromotion:before,
body.big-triangle .footer:before,
body.big-triangle .banner:before {
    right: 50%;
    border-right: 1000px solid transparent;
    border-left: 1000px solid;
}
body.big-triangle .mainslider:after,
body.big-triangle .projectmanager:after,
body.big-triangle .testimonials:after,
body.big-triangle .newsletter:after,
body.big-triangle .facts:after,
body.big-triangle .contactform:after,
body.big-triangle .videopromotion:after,
body.big-triangle .footer:after,
body.big-triangle .banner:after {
    left: 50%;
    border-left: 1000px solid transparent;
    border-right: 1000px solid;
}
body.big-triangle .footer:after,
body.big-triangle .footer:before {
    bottom: initial;
    border-bottom: none;
}
body.big-triangle .footer {
    border-top: none;
}
body.big-triangle .footer .container {
    padding: 60px 0 30px;
}
body.big-triangle .bx-wrapper {
    margin: 70px 0 60px;
}
/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}
h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 800;
    margin: 15px 0;
}
h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 800;
}
h3 {
    font-size: 24px;
    line-height: 24px;
}
h4 {
    font-size: 18px;
    line-height: 18px;
}
h5 {
    font-size: 14px;
    line-height: 14px;
}
h6 {
    font-size: 12px;
    line-height: 12px;
}
.projectmanager h2,
.facts h2,
.facts h4,
.testimonials h2,
.testimonials h4,
.newsletter h2,
.newsletter h4,
.contactform h2,
.contactform h4,
.projectmanager h1,
.testimonials h1,
.facts h1,
.newsletter h1,
.contactform h1,
.videopromotion h1,
.videopromotion h4 {
    color: #fff;
}
/* Paragraph */

p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #666;
}
.top-text h4 {
    margin: 15px 0 25px;
    font-weight: 400;
}
a,
a:hover {
    text-decoration: none !important;
}
/* Divider */

.divider span {
    display: inline-block;
    vertical-align: middle;
}
.divider .fa {
    font-size: 20px;
    margin: 0 20px;
}
.divider .outer-line {
    width: 25%;
    border-bottom: 1px solid #ddd;
}
/* [ HEADER ] */
/*================================================== */

.header {
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 1000;
    color: #fff;
    width: 100%;
    height: 99px;
    transition: background-color 200ms ease-in-out 0s;
    -o-transition: background-color 200ms ease-in-out 0s;
    -moz-transition: background-color 200ms ease-in-out 0s;
    -webkit-transition: background-color 200ms ease-in-out 0s;
}
.header.header-fixed {
    display: block;
    margin-top: 0 !important;
    position: fixed;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
}
.header-inner {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.header-fixed .logo a {
    margin-top: 0;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.header-fixed .nav-menu ul.nav-menu-inner li a {
    color: #555;
}
.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(252, 252, 252, 0) 99%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(252, 252, 252, 0) 99%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#a6000000", endColorstr="#00ffffff", GradientType=0);
}
.header-fixed:before {
    background: none;
    height: 0;
}
/* Logo */

.logo {
    float: left;
    text-align: left;
    display: inline-block;
}
.logo a {
    width: 250px;
    display: block;
    margin-top: 6px !important;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.logo a img {
    width: 100%;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.header .logo a img.logo-light {
    opacity: 1;
}
.header .logo a img.logo-dark {
    opacity: 0;
}
.header.header-fixed .logo a img.logo-light {
    opacity: 0;
}
.header.header-fixed .logo a img.logo-dark {
    opacity: 1;
}
.logo {
    float: left;
    text-align: left;
    display: inline-block;
}
.logo a {
    max-width: 98%;
    margin-top: 10px;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    position: relative;
}
.logo a img {
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
/* Dark Header */

body.dark .header .logo a img.logo-light {
    opacity: 1;
}
body.dark .header .logo a img.logo-dark {
    opacity: 0;
}
body.dark .header.header-fixed .logo a img.logo-light {
    opacity: 1;
}
body.dark .header.header-fixed .logo a img.logo-dark {
    opacity: 0;
}
/* Navigation Menu */

.nav-menu {
    position: static;
    float: right;
}
.nav-menu.active {
    display: block;
}
.nav-menu ul.nav-menu-inner {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu ul.nav-menu-inner li {
    display: inline-block;
    list-style: none;
    text-align: center;
}
.nav-menu ul.nav-menu-inner li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    /* line-height: 1; */
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    padding-top: 0px;
    padding-right: 5px;
}
.nav-menu ul.nav-menu-inner li a i {
    font-size: 14px;
    padding-right: 0px;
}
.navbar-toggler {
    outline: none !important;
}
#icon-toggler {
    width: 20px;
    height: 21px;
    position: relative;
    margin: 23px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: block;
}
#icon-toggler span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.header.header-fixed #icon-toggler span {
    background-color: #000;
}
#icon-toggler span:nth-child(1) {
    top: 0;
}
#icon-toggler span:nth-child(2),
#icon-toggler span:nth-child(3) {
    top: 6px;
}
#icon-toggler span:nth-child(4) {
    top: 12px;
}
#icon-toggler.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
#icon-toggler.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#icon-toggler.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#icon-toggler.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
/* [ CONTENT ] */
/*================================================== */
/* Custom Button */

.custom-button {
    border: none;
    color: #fff;
    text-decoration: none;
    background: #00bbda;
    cursor: pointer;
    display: inline-block;
    text-transform: lowercase;
    border-radius: 6px;
    outline: none;
    padding: 6px 20px;
    box-shadow: none;
    text-shadow: none;
    position: relative;
    letter-spacing: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.custom-button,
.custom-button:hover,
.custom-button:focus {
    color: #000;
    text-decoration: none;
}
.custom-button:before {
    content: "\f1d8";
    font: 15px/1.2em FontAwesome;
    color: #fff;
    position: absolute;
    height: 100%;
    right: 12px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}
.custom-button span {
    position: relative;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.custom-button:hover span {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}
.custom-button:hover:before {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
/* Preloader 
---------------------------------------- */

.preloader {
    position: fixed;
    left: 0;
    top: -100%;
    right: 0;
    height: 100%;
    z-index: 999999999999999999;
    background: #fff;
    text-align: center;
    overflow: hidden;
    opacity: 1;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
}
.preloader:before {
    content: "";
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}
.preloader .logopreloader {
    vertical-align: middle;
    -webkit-transform: translate(0, 500px);
    transform: translate(0, 500px);
    position: relative;
    white-space: nowrap;
    display: inline-block;
    top: -50px;
    opacity: 0;
    -webkit-transition: -moz-transform 1s ease, -webkit-transform 1s ease, -ms-transform 1s ease, -o-transform 1s ease, transform 1s ease, opacity 1s ease;
    transition: -webkit-transform 1s ease, transform 1s ease, opacity 1s ease;
}
.preloader .loader {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0px 0 0 -50px;
    -webkit-transform: translate(0, 500px);
    transform: translate(0, 500px);
    opacity: 0;
    -webkit-transition: opacity 1s ease .3s, -webkit-transform 1s ease .3s;
    transition: opacity 1s ease .3s, -webkit-transform 1s ease .3s;
    transition: transform 1s ease .3s, opacity 1s ease .3s;
    transition: transform 1s ease .3s, opacity 1s ease .3s, -webkit-transform 1s ease .3s;
}
.preloader.loading .loader,
.preloader.loading .logopreloader {
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
    opacity: 1;
}
.preloader.ended {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
    -webkit-transition: -webkit-transform 1s ease 0.5s, -moz-transform 1s ease 0.5s, -ms-transform 1s ease 0.5s, -o-transform 1s ease 0.5s, transform 1s ease 0.5s, opacity 1s ease 0.5s;
    transition: -webkit-transform 1s ease 0.5s, transform 1s ease 0.5s, opacity 1s ease 0.5s;
}
.preloader.ended .loader,
.preloader.ended .logopreloader {
    -webkit-transform: translate(0, -500px);
    transform: translate(0, -500px);
    opacity: 0;
}
/* Main Slider (Revolution Slider)
---------------------------------------- */

.tp-simpleresponsive .slider-button {
    color: #000;
    border-radius: 40px;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 600;
}
.tp-simpleresponsive .slider-button:before {
    content: "\f063";
}
.dark-slider .rev_slider .slotholder:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 1111;
    background: rgba(0, 0, 0, .5);
}
.scroll-effects-text {
    color: #eee !important;
}
/* About
---------------------------------------- */

.about {
    background-color: #fff;
}
.about .about-content .title-about {
    font-size: 28px;
    margin-bottom: 10px;
}
.about .about-content {
    margin-top: 40px;
}
.about .about-content .about-left-side {
    margin-top: 40px;
}
.about .about-content .custom-button {
    padding: 12px 26px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
}
.about .about-content .custom-button:before {
    content: "\f03e";
}
.about .about-content .full-image-overlay h3 {
    text-transform: Capitalize;
    color: #ffffff;
    margin-top:20px;
}
.about .about-content .about-right-side img {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 auto;
    margin-left: auto;
    display: block;
}
.list-why-choose-us {
    display: inline;
    list-style: none;
    margin-top: 30px;
    text-align: left;
}
.list-why-choose-us li {
    position: relative;
    padding-left: 22px;
    font-size: 15px;
    line-height: 18px;
}
.list-why-choose-us li:before {
    content: '\f061';
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 15px;
    font-family: "FontAwesome";
}
.list-why-choose-us li + li {
    margin-top: 14px;
}
.full-text-container + .full-image-container:before {
    right: auto;
    left: 0;
}
.about-right-side:hover .full-text-container + .full-image-container:before,
.about-right-side .full-text-container + .full-image-container.hovered:before {
    right: auto;
    left: 5%;
}
.about-right-side {
    position: relative;
    display: table;
    table-layout: fixed;
}
.full-image-container {
    width: 50%;
    display: table-cell;
    position: relative;
    overflow: hidden;
}
.full-image-container:before {
    content: '';
    position: absolute;
    top: 5%;
    right: 0%;
    width: 50%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.full-text-container + .full-image-container:before {
    right: auto;
    left: 0;
}
.about-right-side:hover .full-image-container:before,
.about-right-side .full-image-container.hovered:before {
    width: 90%;
    right: 5%;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.about-right-side:hover .full-text-container + .full-image-container:before,
.about-right-side .full-text-container + .full-image-container.hovered:before {
    right: auto;
    left: 5%;
}
.about-right-side:hover .full-image-overlay,
.about-right-side .hovered .full-image-overlay {
    text-align: left;
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 0 10%;
    margin-top: -133px;
    color: #ffffff;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.full-text-container {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 0 50px;
    position: static;
}
.full-text-container * {
    max-width: 700px;
}
.full-text-container.left {
    text-align: right;
}
.full-text-container.left * {
    margin-left: auto;
}
.full-text-container p {
    margin-bottom: 10px;
}
/* Project Manager
---------------------------------------- */

.projectmanager {
    color: #fff;
    background-image: url("../img/sections/mecanica2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 110%;
}
.projectmanager .section-overlay {
    padding: 90px 0 120px;
}
.projectmanagerpicture {
    border-radius: 50%;
}
.projectmanager h1 {
    margin-bottom: 20px;
}
.projectmanager h3 {
    margin-top: 10px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
}
.projectmanager p {
    color: #fff;
}
.projectmanager blockquote {
    padding-top: 0;
    padding-bottom: 0;
    color: #cecece;
    font-size: 14px;
    border-left: 5px solid #eee;
    padding-left:20px;
}
.projectmanager p,
.projectmanager blockquote {
    margin-top: 30px;
    font-style: italic;
}
.projectmanager li:hover,
.projectmanager li:hover a,
.projectmanager li a:hover {
    color: #fff;
}
/* Services
---------------------------------------- */

.services {
    background-color: #efefef;
}
.services .services-box {
    margin: 25px 0;
}
.services .services-box:before {
    content: "";
    display: table;
}
.services .services-box:after {
    content: "";
    display: table;
    clear: both;
}
.services .services-box-item {
    position: relative;
    color: #717c8e;
    text-decoration: none;
    -webkit-perspective: 750px;
    -ms-perspective: 750px;
    -o-perspective: 750px;
    perspective: 750px;
    margin: 15px 0;
    float: left;
}
.services .services-box-item:hover,
.services .services-box-item:focus,
.services .services-box-item.hover {
    text-decoration: none;
}
.services .services-box-item:hover> .services-box-item-cover,
.services .services-box-item:focus> .services-box-item-cover,
.services .services-box-item.hover> .services-box-item-cover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.services .services-box-item:hover> .services-box-item-content,
.services .services-box-item:focus> .services-box-item-content,
.services .services-box-item.hover> .services-box-item-content {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.services .services-box-item-cover, .services-box-item-cover2,
.services .services-box-item-content {
    position: relative;
    border-radius: 3px;
    background: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.services .services-box-item-cover, .services-box-item-cover2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px 15px;
    box-shadow: 0px 0px 3px 1px #ddd;
    border-radius: 7px;
}
.services .services-box-item-cover:before,
.services .services-box-item-cover2:before,
.services .services-box-item-cover:after,
.services .services-box-item-cover2:after {
    position: absolute;
    top: 50%;
    left: 50%;
}
.services .services-box-item-cover:before,
.services .services-box-item-cover2:before {
    margin: -40px 0px 0px -20px;
    font-size: 40px;
}
.services .services-box-item-cover:after,
.services .services-box-item-cover2:after {
    content: attr(data-headline);
    font-family: "Raleway";
    left: 0;
    width: 100%;
    margin: 20px 0 0;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.services .services-box-item-content {
    overflow: hidden;
    margin: -16px -6px;
    padding: 30px 40px;
    font-size: 14px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-radius: 7px;
}
.services .services-box-item-content:before {
    position: absolute;
    top: 0;
    right: 0;
    margin: -60px;
    font-size: 228px;
    opacity: 0.2;
}
.services .services-box-item-content h2 {
    position: relative;
    margin: 0px 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: Capitalize;
}
.services .services-box-item-content p {
    line-height: 23px;
    position: relative;
    margin: 12px 0;
    font-size: 15px;
    /* height: 160px !important; */
    min-height: 160px;
    max-height: 160px;
}
.services[data-icon]:before,
.services[class^="icon-"]:before,
.services[class*=" icon-"]:before {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    text-indent: 0;
    display: inline-block;
    position: relative;
}
.services[data-icon]:before {
    content: attr(data-icon);
}
.services[data-icon].after:before {
    content: none;
}
.services[data-icon].after:after {
    content: attr(data-icon);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    text-indent: 0;
    display: inline-block;
    position: relative;
    margin-left: 4px;
}
/* Testimonials
---------------------------------------- */

.testimonials {
    background: url("../img/sections/mecanica2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 110%;
}
.testimonials #quote-carousel {
    margin-top: 50px;
}
.testimonials #quote-carousel hr {
    border-top: 1px solid #fff;
}
.testimonials #quote-carousel,
.testimonials #quote-carousel h6 {
    color: #fff;
}
.testimonials #quote-carousel blockquote {
    padding: 0;
    text-align: center;
    font-size: 15px;
    border: none;
}
.testimonials #quote-carousel p {
    font-style: italic;
    color: #fff;
}
.testimonials #quote-carousel p:before,
.testimonials #quote-carousel p:after {
    font-family: "FontAwesome";
}
.testimonials #quote-carousel p:before {
    margin-right: 20px;
    content: "\f10d";
}
.testimonials #quote-carousel p:after {
    margin-left: 20px;
    content: "\f10e";
}
.testimonials #quote-carousel h5 {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 500;
}
.testimonials #quote-carousel h6 {
    margin: 0;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.testimonials #quote-carousel .img-fluid {
    margin: 0 auto 25px;
    border: 6px solid #f9f9f9;
    background: #f9f9f9;
}
.testimonials #quote-carousel .carousel-indicators {
    bottom: -40px;
}
.testimonials #quote-carousel .carousel-indicators li {
    background: #fff;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 50%;
}
.testimonials #quote-carousel .carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin-top: 1px;
}
/* Portfolio
---------------------------------------- */

.portfolio {
    background-color: #fff;
}
.portfolio .nav-pills {
    overflow: hidden;
    margin: 35px 15px 30px;
    text-align: center;
}
.portfolio .nav-pills li {
    margin-right: 10px;
    border-radius: 40px;
    padding: 8px 30px;
    color: #111;
    font-weight: 600;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    float: none;
}
.portfolio .nav-pills li:hover,
.portfolio .nav-pills li.active {
    color: #fff;
}
.portfolio .caption h3 {
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 2px;
}
.portfolio .caption p {
    font-size: 13px;
}
.portfolio .filtr-container {
    position: relative;
    overflow: hidden;
}
.portfolio .filtr-container .filtr-item {
    display: block;
    float: left;
    box-sizing: border-box;
}
.portfolio .filtr-container .filtr-item_holder {
    overflow: hidden;
}
.portfolio .filtr-container .image-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
}
.portfolio .thumbnail__portfolio {
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.filtr-item {
    padding: 10px;
}
.item-desc {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}
/* Filter controls */

.simplefilter li,
.multifilter li,
.sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 2rem;
}
.simplefilter li.active {
    background-color: #212121;
}
.multifilter li {
    background-color: #4b9eff;
}
.multifilter li.active {
    background-color: #2265b4;
}
/* Zoom icons */

.zoom-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.zoom-icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: -13px 0 0 -13px;
    width: 25px;
    height: 26px;
    background: url(../img/projects/icons/zoom-icon.png) 50% 50% no-repeat;
    content: "";
}
.video-icon:before {
    background: url(../img/projects/icons/video-icon.png) 50% 50% no-repeat;
}
.gallery-icon:before {
    background: url(../img/projects/icons/gallery-icon.png) 50% 50% no-repeat;
}
.external-icon:before {
    background: url(../img/projects/icons/external-icon.png) 50% 50% no-repeat;
}
.image-wrap:hover .zoom-icon,
.featured-thumbnail a:hover .zoom-icon {
    opacity: 1;
}
.featured-thumbnail a:hover .zoom-icon {
    visibility: visible;
}
/* Team
---------------------------------------- */

.team {
    background-color: #efefef;
}
.team .container {
    padding: 70px 0 100px;
}
.team-members {
    margin-top: 40px;
}
.team-member {
    position: relative;
    display: inline-block;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
.team-member-img-wrap {
    position: relative;
    display: block;
    outline: 0 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;
}
.team-member-img-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    /* border-top-left-radius: 0; */
    /* border-top-right-radius: 0; */
    /* border-top: 3px solid #ffcc00 !important; */
}
.team-member-caption {
    text-align: center;
    background: #fff;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    /* height: 400px; */
}
.team-member .team-member-caption h4 {
    line-height: 1;
    margin-top: 35px;
    text-transform: capitalize;
    margin: 35px 0 25px;
    font-weight: 700;
}
.team-member-caption p {
    padding: 0px 0 18px;
    font-style: italic;
    margin: 0;
    font-size: 15px;
}
.team-member-caption .list {
    position: absolute;
    top: 33%;
    left: 54%;
    width: 100%;
    opacity: 0;
    margin-top: 33%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    will-change: content;
    z-index: 999999;
}
.team-member-caption .list li {
    padding: 0;
}
.team-member-caption .list li a {
    color: #fff;
}
.team-member-caption .list li + li {
    margin-left: 5px;
}
.team-member-img-wrap img {
    /* border-top-left-radius: 7px; */
    /* border-top-right-radius: 7px; */
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-top: 3px solid #ffcc00;
}
.team-member-caption a:hover {
    text-decoration: none;
}
.team-member:hover .team-member-img-wrap:before {
    opacity: 1;
}
.team-member:hover .team-member-caption h4,
.team-member:hover .team-member-caption p {
    color: #000;
}
.team-member:hover .team-member-caption .list {
    opacity: 1;
}
.team ul.social li a {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 36px;
}
.team ul.social li a:before {
    color: #fff;
    font-size: 20px;
}
.team .social-icons ul.social li a:hover:before {
    font-size: 20px;
}
.team .social-icons ul.social li a:hover {
    background: #fff;
}
/* Facts
---------------------------------------- */

.facts {
    background: url("../img/sections/facts-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 110%;
}
.fact-badges {
    margin-top: 65px;
    text-align: center;
}
.fact-badges h2 {
    margin-top: 20px;
}
.fact-badges h2 span {
    font-weight: bold;
    font-size: 48px;
}
.fact-badges h2 strong {
    font-weight: 800;
    padding-right: 3px;
}
.fact-badges .fa {
    font-size: 90px;
    color: #fff;
}
.facts .top-text h4 {
    margin: 15px 0 25px;
    font-weight: 400;
}
.facts h4 {
    margin: 25px 0;
    font-weight: 700;
}
/* Newsletter
---------------------------------------- */

.newsletter {
    color: #fff;
    background: url("../img/sections/testimonials-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 110%;
}
.newsletter p {
    color: #fff;
}
.newsletter-content {
    margin-top: 40px;
}
.newsletter form .custom-input-label::before {
    height: 52px;
}
.newsletter form {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}
.newsletter .custom-form-group {
    margin-top: 20px;
    margin-bottom: 30px;
}
.newsletter form .custom-button {
    margin-top: 0;
    margin: 0 auto;
    display: block;
    padding: 15px 30px;
    border-radius: 40px;
    width: 260px;
    outline: none;
}
.newsletter form .custom-button span {
    font-size: 15px;
}
.newsletter form .custom-button:before {
    font-size: 13px;
    content: "\f0e0";
    right: 48px;
}
/* Blog
---------------------------------------- */

.blog {
    background-color: #fff;
	    margin-top: 25px;
}
.blog .blog-content {
    margin-top: 40px;
}
.blog .blog-content .blog-figure {
    font-size: 0;
    line-height: 0;
    position: relative;
}
.blog .blog-content .blog-figure a {
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
}
.blog .blog-content .blog-figure a img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.blog .blog-content .blog-figure a:hover img {
    transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    opacity: 1 !important;
}
.blog-post .blog .blog-content .blog-figure a:hover img {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    opacity: 1 !important;
}
.blog .blog-content h3 {
    font-size: 17px;
    margin: 30px 0 20px;
    text-decoration: none;
    font-weight: 600;
    color: #555;
    text-decoration: none;
    transition: 0.2s;
}
.blog .blog-content h3:hover {
    color: #111;
}
.blog .blog-content .blog-excerpt a {
    text-decoration: none;
}
.blog .blog-content .blog-excerpt p {
    margin-bottom: 20px;
}
.blog .blog-content .blog-excerpt .meta {
    font-size: 13px;
}
.blog .blog-content .blog-excerpt .meta a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.blog .blog-content .blog-excerpt span,
.blog-page .blog-content span {
    margin-right: 16px;
    color: #555;
    font-weight: 500;
    display: inline-block;
}
.blog .blog-content .blog-excerpt span.date,
.blog-page .blog-content span.date {
    color: #777;
    font-size: 13px;
}
.blog-page .blog-content span.permalink {
    float: right;
    margin-right: 0;
}
.blog .blog-content .blog-excerpt span i,
.blog-page .blog-content span i {
    padding-right: 3px;
    font-size: 15px;
}
.blog .blog-content .custom-button,
.blog-page .blog-content .custom-button {
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    width: 260px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.blog .blog-content .custom-button:before {
    right: 58px;
    content: "\f086";
}
.blog-page .blog .blog-content .custom-button:before {
    display:none;
}
.blog .blog-content .custom-button span {
    color: #fff;
}
.blog-page .blog .blog-content .custom-button span {
    margin-right: 0;
}
.blog-page .blog-content .custom-button:before {
    right: 12px;
    content: "\f061";
    margin-top: -10px;
}
.blog-post .banner .content .top-text h4 {
    font-size: 14px;
    text-transform: lowercase;
}
.blog-post .banner .content .top-text h4 a {
    color: #eee;
}
.blog-post .banner .content .top-text h4 span {
    margin-right: 15px;
    display: inline-block;
}
.blog-post .blog-content figure img {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.blog-post .post-author {
    background: #ddd;
    border: 1px solid #ccc;
    margin-top: 30px;
    padding: 20px;
}
.blog-post .blog-content .post-author h3 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 24px;
}
.blog-post .post-author img {
    float: left;
    margin: 5px 20px 10px 0;
    border: 1px solid #ddd;
}
.blog-post .post-author-link {
    clear: both;
}
.blog-post .post-author-link a {
    font-weight: 600;
}
.blog-post .blog-content h4 {
    font-weight: 600;
    margin: 40px 0;
    font-size: 24px;
}
/* comments */

.blog-post .blog-content .comments ul.comment-list {
    list-style: none;
    padding: 0;
}
/* Comment List */

.blog-post .blog-content .comment-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.blog-post .blog-content .comment {
    position: relative;
    margin: 0;
    padding: 0;
    background: none;
    list-style-type: none;
    text-transform: none;
}
.blog-post .blog-content .comment .comment-body {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #eee;
    background: #e9e9e9;
    zoom: 1;
}
.blog-post .blog-content .comments span.author {
    display: block;
    font-weight: 600;
}
.blog-post .blog-content .comment-author {
    float: left;
    margin: 0;
}
.blog-post .blog-content .comment-author img {
    border: 1px solid #ccc;
}
.blog-post .post-author,
.blog-post .blog-content .comment .comment-body,
.blog-post .blog-content .comment-author img {
    border-radius: 4px;
}
.blog-post .blog-content .comment-reply-link {
    padding-left: 15px;
    float: right;
}
.blog-post .blog-content .comment-author .author {
    display: block;
    padding-top: 6px;
    width: 65px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 12px;
}
/* Comment meta */

.blog-post .blog-content .comment-meta {
    float: right;
}
.blog-post .add-comment .form-holder form input {
    width: 320px;
    display: block;
    margin-bottom: 15px;
    padding: 7px 15px;
    font-size: 13px;
    border: 1px solid #ccc;
    transition: .2s;
}
.blog-post .add-comment .form-holder form textarea {
    width: 560px;
    height: 180px;
    padding: 7px 15px;
    font-size: 13px;
    border: 1px solid #ccc;
    transition: .2s;
}
.blog-post .add-comment .form-holder form input:focus,
.add-comment .form-holder form textarea:focus {
    background-color: #f2f2f2;
    box-shadow: none;
    outline: 0 none;
}
.blog-post .add-comment .form-holder form .custom-button {
    margin: 30px 0;
    width: 180px;
    padding: 12px 7px;
}
.blog-post .add-comment .form-holder form .custom-button:before {
    content: "\f075";
}
.blog-page .banner {
    background: #292929 url(../img/blog/blog-banner.jpg) center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.blog-page .banner .content {
    background-color: rgba(0, 0, 0, .8);
    padding: 200px 0;
    width: 100%;
}
.blog-page .banner .content .top-text h1 {
    color: #fff;
}
.blog-page .banner .content .top-text h4 {
    color: #eee;
}
.blog-page .blog .blog-content {
    margin-top: 0;
    position: relative;
    z-index: 999;
}
.blog-page article figure {
    margin-bottom: 20px;
}
.blog-page .blog-content article h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}
.blog-page .blog-content article h3:hover {
    text-decoration: none;
}
.blog-page .banner .content .top-text hr {
    width: 80px;
}
.blog-page article {
    float: left;
    margin-bottom: 40px;
}
.blog-page .blog-content .blog-excerpt a.readmore {
    margin: 0;
    display: inline-block;
    width: 140px;
    padding: 10px;
}
.blog-page .meta {
    clear: both;
    padding: 10px 0;
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.blog-page .sidebar {
    margin-top: 15px;
}
.blog-page .sidebar h3 {
    margin-bottom: 20px;
    font-size: 20px;
    display: block;
    clear: both;
}
.blog-page .sidebar .widget ul {
    list-style-type: none;
    padding: 0;
}
.blog-page .sidebar .widget ul li {
    margin-bottom: 5px;
}
.blog-page .sidebar .widget ul li a {
    color: #555;
    text-decoration: none;
    transition: 0.2s;
}
.blog-page .sidebar .widget.recent-posts figure {
    width: 100px;
    float: left;
    margin-right: 35px;
    padding: 0;
}
.blog-page .sidebar .widget.recent-posts ul li {
    display: table;
    width: 100%;
}
.blog-page .sidebar .widget.recent-posts ul li a {
    font-size: 15px;
    font-weight: 600;
}
.blog-page .sidebar .widget.recent-posts span {
    font-size: 12px;
}
.blog-page .sidebar .widget.ads img {
    margin-bottom: 40px;
}
.blog-page ul.pagination {
    padding-left: 1px;
    justify-content: center;
}
.blog-page ul.pagination li a,
ul.pagination li a:hover {
    color: #555;
}
.blog-page ul.pagination li.active a {
    color: #fff;
}
/* Video Promotion
---------------------------------------- */

.videopromotion {
    color: #fff;
    background: url("../img/sections/video-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 110%;
}
.videopromotion p {
    color: #fff;
}
.btn-wrapper {
    margin-top: 70px
}
.btn-wrapper a {
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    position: relative;
    text-align: center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100px;
    outline: none;
}
.btn-wrapper a:before {
    content: "\f04b";
    font-family: FontAwesome;
    font-size: 45px;
    left: 50%;
    line-height: 41px;
    margin-left: -12px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
.btn-wrapper a:hover {
    border-width: 22px;
}
.btn-wrapper a:hover:before {
    color: #fff;
}
/* Contact
---------------------------------------- */

.contact {
    background-color: #efefef;
}
.contact .container:first-child {
    padding: 70px 15px 30px !important;
}
/* Google Map */

.gmap_container {
    overflow: hidden;
    height: 236px;
    width: 100%;
}
.contact #gmap_canvas {
    height: 450px;
    width: 100%;
}
.contact #gmap_canvas img {
    max-width: none!important;
    background: none!important;
}
.contact #gmap_canvas strong {
    line-height: 26px;
    font-weight:700;
}
.info-map {
    position: relative;
    clear: both;
    border-top: 1px solid #ccc;
    border-bottom: 0px solid #ccc;
    margin-top: 0px;
}
.info-map-gmap {
    height: 450px;
}
.info-map-boxes {
    zoom: 1;
    position: relative;
    margin-top: -218px;
    margin-bottom: 44px;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.info-map-boxes:before {
    content: "";
    display: table;
}
.info-map-boxes:after {
    content: "";
    display: table;
    clear: both;
}
.info-map-boxes-item {
    padding: 5px 22px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    color: inherit;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 7px rgba(0, 0, 0, 0.15);
}
.info-map-boxes-item:before {
    float: right;
    margin: 0;
    padding: 10px 0 0 30px;
    font-size: 32px;
    background: #fff;
}
.info-map-boxes-item:hover,
.info-map-boxes-item:focus {
    text-decoration: none;
}
.info-map-boxes-item h1 {
    margin: 9px 0;
    padding: 0 0 3px;
    border-bottom: 1px solid #e5e8ee;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
}
.info-map-boxes-item p {
    margin: 9px 0;
    line-height: 23px;
    font-size: 14px;
}
/* Contact Form */

.contactform {
    color: #fff;
    background: url("../img/sections/contactform-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 110%;
}
.contactform .form-container {
    max-width: 750px;
    margin: 0 auto;
    padding: 60px 0 30px;
}
.custom-form-group {
    margin-bottom: 20px;
}
.custom-form-group .input-group .input-group-addon {
    padding: 0px 13px;
    font-size: 18px;
    border: none;
    color: white;
}
.form-inputs .form-control {
    height: 40px;
}
.form-inputs .form-control {
    background: #fff;
    border-radius: 30px;
    box-shadow: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.custom-form-group textarea {
    width: 100%;
    padding: 20px 0 0 25px;
}
.form-group textarea:focus,
.form-group .form-control:focus {
    outline: 0px !important;
    -webkit-appearance: none;
}
.submit-form button {
    padding: 14px 26px;
    border-radius: 40px;
    display: block;
    font-weight: 600;
    margin: 0 auto;
    width: 100%;
    outline: none;
}
.submit-form button:before {
    right: 92px;
}
.contactform .output_message {
    padding: 8px;
    margin-bottom: 17px;
    border-radius: 2px;
    color: #fff;
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}
.contactform .output_message.success {
    background: #28a745;
    padding: 15px;
}
.contactform .output_message.success:before {
    font-family: FontAwesome;
    content: "\f14a";
    padding-right: 10px;
}
.contactform .output_message.error {
    background: #dc3545;
    padding: 15px;
}
.contactform .output_message.error:before {
    font-family: FontAwesome;
    content: "\f071";
    padding-right: 10px;
}
/* Logos Slider */

.logos {
    background-color: #fff;
}
.bx-wrapper {
    margin: 70px 0 70px;
}
ul.bxslider img {
    opacity: 0.7;
}
/* Social media */

.social-icons ul {
    margin: 0;
    padding: 0;
    line-height: 0;
    font-size: 0;
}
.social-icons ul li {
    display: inline-block;
    margin: 0 10px 5px 0;
    padding: 0;
    vertical-align: top;
    list-style: none;
}
.social-icons ul li a {
    background: transparent;
    display: block;
    width: 63px;
    height: 63px;
    line-height: 61px;
    border-radius: 50%;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    text-align: center;
    text-decoration: none;
    color: #fff !important;
}
.social-icons ul li a:hover {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #fff !important;
}
.social-icons ul li a:hover:before {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #fff !important;
}
.social-icons ul li a:before {
    display: block;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    font-family: FontAwesome;
    font-size: 36px;
    text-align: center;
}
.social-icons ul li a[title="facebook"]:before {
    content: "\f09a";
}
.social-icons ul li a[title="twitter"]:before {
    content: "\f099";
}
.social-icons ul li a[title="google"]:before {
    content: "\f0d5";
}
.social-icons ul li a[title="skype"]:before {
    content: "\f17e";
}
.social-icons ul li a[title="instagram"]:before {
    content: "\f16d";
}
.social-icons ul li a[title="linkedin"]:before {
    content: "\f0e1";
}
.social-icons ul li a[title="instagram"]:before {
    content: "\f16d";
}
.social-icons ul li a[title="youtube"]:before {
    content: "\f167";
}
/* Back To Top
---------------------------------------- */

#back-top {
    display: none;
}
#back-top-wrapper {
    position: fixed;
    right: 26px;
    bottom: 26px;
    overflow: hidden;
    z-index: 1111;
}
#back-top a {
    display: block;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 1s;
    transition: 1s;
    width: 45px;
    margin: 0 auto;
    border-radius: 50%;
}
#back-top a:hover span:before {
    top: -50px;
}
#back-top a:hover span:after {
    top: 0;
}
#back-top a:hover span {
    background: none;
}
#back-top span {
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 1;
    margin-bottom: 0;
    width: 41px;
    height: 41px;
    background: none;
    position: relative;
    overflow: hidden;
}
#back-top span:before,
#back-top span:after {
    content: "\f062";
    font-size: 24px;
    font-family: FontAwesome;
    line-height: 41px;
    position: absolute;
    left: 0;
    width: 41px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#back-top span:before {
    top: 0;
}
#back-top span:after {
    top: 50px;
    color: #fff;
}
/* Inputs */

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.input-field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    -webkit-appearance: none;
}
.input-field:focus {
    outline: none;
}
.input-label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-input {
    overflow: hidden;
    border-radius: 30px;
    background: #fff;
    width: 100%;
}
.custom-input-field {
    padding-left: 51px;
    width: 100%;
    background: transparent;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    height: 50px;
    border-radius: 4px;
}
.custom-input-field:focus {
    outline: 0px !important;
    -webkit-appearance: none;
}
.custom-input-field:focus .custom-input {
    background: blue;
}
.custom-input-label {
    position: absolute;
    padding: 14px;
    width: 52px;
    height: 50px;
}
.contactform textarea {
    color: #aaa;
    border-radius: 30px;
    box-shadow: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.custom-input-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50px;
    height: 50px;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.icon-field {
    color: #fff;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0;
}
.custom-input-field:focus {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.custom-input-field:focus + .custom-input-label::before {
    -webkit-transform: scale3d(0.8, 1, 1);
    transform: scale3d(0.8, 1, 1);
}
.custom-input-field:focus + .custom-input-label .icon-field {
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
}
/* [ FOOTER ] */
/*================================================== */

.footer {
    padding: 40px 0;
    background-color: #000;
}
.footer .container {
    padding: 30px 0;
}
.footer,
.footer a,
.footer p {
    color: #fff;
    padding-bottom: 10px;
    text-transform: lowercase;
}
.footer .container p:first-child {
    font-weight: 500;
    text-transform: uppercase;
}
.footer .social-icons ul li a {
    width: 42px;
    height: 42px;
    line-height: 40px;
}
.footer .social-icons ul li a:before {
    font-size: 21px;
}
/* Responsive Design Styles
---------------------------------------- */
/* Large Devices */

@media (max-width: 1199px) {
    .projectmanager {
        text-align: center;
    }
    .projectmanager .img-fluid {
        float: none;
        margin: 0 auto 50px;
    }
}

/* Small Devices */

@media (max-width: 991px) {
    .projectmanager {
        text-align: center;
    }
    .projectmanager .img-fluid {
        float: none;
        margin: 0 auto 50px;
    }
    .about .about-content .title-about {
        margin-top: 0;
    }
    .about-right-side {
        padding-top: 50px;
    }
    .team-member {
        margin-top: 20px;
    }
    .newsletter form .custom-button {
        position: relative;
        margin-top: 20px;
        width: 100%;
    }
    .newsletter form .form-group input {
        padding-right: 0;
    }
    .submit-form button:before {
        right: 260px;
    }
    .blog .blog-content .blog-excerpt .meta {
        margin-bottom: 40px;
    }
    .blog-page .sidebar .widget.recent-posts ul li {
        display: block;
        clear: both;
    }
    .blog .blog-content .custom-button {
        margin-top: 0;
    }
    .custom-button:before {
        display: none !important;
    }
    .custom-button span {
        transform:none !important;
    }
    .nav-menu ul.nav-menu-inner li {
        display: block;
        width: 100%;
    }
    .nav-menu {
        position: fixed;
        top: 65px;
        left: 0;
        float: none;
        width: 100%;
        background: #fff;
        overflow-y: hidden;
        z-index: 999;
    }
    body.dark .nav-menu {
        background-color: #000;
    }
    .nav-menu ul.nav-menu-inner li a,
    .header-fixed .nav-menu ul.nav-menu-inner li a {
        padding: 20px 12px;
        border-top: 1px solid #f6f6f6;
    }
    .nav-menu ul.nav-menu-inner li:last-child a,
    .header-fixed .nav-menu ul.nav-menu-inner li:last-child a {
        border-bottom: 1px solid #f6f6f6;
    }
    .nav-menu ul.nav-menu-inner li a,
    .header-fixed .nav-menu ul.nav-menu-inner li a {
        position: relative;
        text-decoration: none;
        color: #555;
        text-align: left;
        padding-left: 30px;
    }
}
/* Extra Small Devices */

@media (max-width: 767px) {
    .about .container,
    .services .container,
    .portfolio .container,
    .team .container,
    body.big-triangle .team .container,
    .blog .container,
    .contact .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .header-inner,
    .videopromotion p,
    .newsletter p,
    .logos .container,
    .footer .social-icons {
        padding-left: 15px;
        padding-right: 15px;
    }
    .widget {
        padding-left: 0;
        padding-right: 0;
    }
    h1 {
        font-size: 40px;
        line-height: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h4 {
        font-size: 18px;
    }
    .header {
        height: 65px;
    }
    .header .logo a {
        width: 100px;
        margin-top: 9px;
        margin-bottom: 25px;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }
    .top-text h1,
    .top-text h4,
    .footer p {
        margin-left: 15px;
        margin-right: 15px;
    }
    .top-text h4 {
        line-height: 28px;
    }
    body.double-diagonal .about::before,
    body.double-diagonal .services::before,
    body.double-diagonal .portfolio::before,
    body.double-diagonal .team::before,
    body.double-diagonal .blog::before,
    body.double-diagonal .contact::before,
    body.double-diagonal .logos::before {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    .about .about-content .about-left-side {
        margin-top: 0;
    }
    .about-right-side .hovered .full-image-overlay {
        margin-top: 60px;
        position: relative;
    }
    .list-why-choose-us li {
        margin-bottom: 17px;
    }
    .full-image-container {
        background-image: url('../img/about.jpg');
        background-size: cover;
    }
    .projectmanager .img-fluid {
        float: none;
        margin: 0 auto 50px;
    }
    .projectmanager ul,
    .projectmanager li {
        margin-top: 15px;
    }
    .portfolio .nav-pills li {
        margin: 0 10px 10px 0;
    }
    .testimonials #quote-carousel blockquote {
        padding: 0 15px;
    }
    .services .services-box-item {
        float: none;
        max-width: 400px;
        margin: 0 auto;
        display: block;
        margin-top: 25px;
    }
    .services .services-box-item-cover,
    .services .services-box-item-cover2 {
        margin: 0;
    }
    .team-member {
        max-width: 480px;
        margin: 0 auto;
        display: block;
        margin-bottom: 25px;
    }
    .newsletter .custom-form-group {
        padding: 0;
    }
    .info-map-gmap {
        height: 300px;
    }
    .info-map-boxes-item {
        width: 100%;
        margin-top: 30px;
    }
    .info-map-boxes {
        margin-top: 0px;
    }
    .footer li a {
        font-size: 23px;
    }
    .social-icons ul li a {
        width: 43px;
        height: 43px;
        line-height: 40px;
    }
    .social-icons ul li a:before {
        font-size: 21px;
    }
    .submit-form button {
        width: 100%;
    }
    .submit-form button:before {
        right: 42px;
    }
    .blog-page .blog-content span.permalink {
        float: none;
    }
    .blog-page article figure {
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .blog-post .add-comment .form-holder form input,
    .blog-post .add-comment .form-holder form textarea {
        width: 100%;
    }
    .output_message_holder {
        margin-top: 30px;
    }
}
@media (max-width: 576px) {
    .portfolio .filtr-item {
        padding-left: 0;
        padding-right: 0;
    }
}

img.services-box-item-cover,
img.services-box-item-cover2{
    position: relative;    
    float: right;
    margin: 22% 42% !important;
}

.bomba_caracteristicas{background: url('../img/bombas/caracteristica2.png') no-repeat;width: 600px;min-height: 800px;margin: 0 auto;}
#portico{
    /* float: right; */
    margin: 55px 0px 0px 471px;
}

.simbolo_desc, .simbolo_asc{
    float: right;
    margin: -21px -10px;
    /* width: 32px; */
    opacity: 0.6;
}


#descricao_portico, #descricao_mostrador, #descricao_teclado, #descricao_bico, #descricao_midia, #descricao_acabamentos  {
    background: #000000;
    width: 400px;
    z-index: 9;
}

#descricao_portico p, #descricao_mostrador p, #descricao_teclado p, #descricao_bico p,#descricao_midia p, #descricao_acabamentos p {
    color: #FFCC00;
    min-height: 200px;
    position: absolute;
    margin: 0 25px;
    font-size: 16px;
    text-align: left;
}

#descricao_portico h3, #descricao_mostrador h3, #descricao_teclado h3, #descricao_bico h3,#descricao_midia h3, #descricao_acabamentos h3 {
   color: #fff !important;
   margin-left: 24px;
}

#descricao_acabamentos {
    display: none;
    position: absolute;
    margin: 10px 0px 0px 0px;
    padding: 20px 10px;
    height: 475px;
    width: 560px;
}

#descricao_portico {
    display: none;
    position: absolute;
    margin: 10px 85px;
    padding: 20px 10px;
    z-index: 10;
    height: 266px;
}

#descricao_mostrador{
    display: none;
    position: absolute;
    margin: 10px 227px;
    padding: 20px 10px;
}

#descricao_teclado{
    display: none;
    position: absolute;
    margin: 10px 223px;
    padding: 20px 10px;
    z-index: 9;
}

#mostrador{
    /* float: right; */
    position: relative;
    margin: 167px 0px 0px 365px;
}

#bico{
    float: right;
    position: relative;
    margin: 40px 30px 0px 0px;
    z-index: 1;
}

#acabamentos{
    margin: 265px 0px 0px 32px;
    z-index: 1;
}

#descricao_bico{
    display: none;
    position: absolute;
    margin: 10px 81px;
    padding: 20px 10px;
}

#descricao_midia{
    display: none;
    position: absolute;
    margin: 10px 0px 0px 0px;
    padding: 20px 10px;
}

.bomba_caracteristicas img{
    cursor: pointer;
}

#teclado{
    margin: 46px 0px 0px 378px;
}

#midia{
    margin: -21px 0px 0px 6px;
}

.descricao_bomba{
    z-index: 9;
}

.services-box-item-cover2{
    height: 200px;
}

.footer-area-restrita{
    margin-top: 200px;
}

.titulo_bombas{
    margin-top: 100px;
    float: left;
}

.card-text{
	display: none;	 
}
.card-title{
	text-align: center;
}
.card-esp{
	padding-bottom: 10px;
}

.footer {
    border-top: 2px solid #000 !important;
}

.google-map {
        position: relative;
        padding-bottom: 17%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.google-map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        
}
.bombas_abastecimentos{
	background-image: url(../img/bombas/caracteristicaBack.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* padding: inherit; */
	background-position: 3px;
	min-width: 570px;
	max-height: 760px;
	min-height: 857px;
	max-width: 618px;
}

#altera_img{
	min-width: 500px;
	max-height: 800px;
	min-height: 860px;
	max-width: 635px;
	display: none;
}
